<% provide(:title, "About") %>
	<h1>About</h1>

	<p>
		The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> is a <a herf="http://railstutorial.org/book">book</a> and
		<a href="http://screencasts.railstutorial.org">screencast</a> to teach web development with <a href="http://rubyonrails.org">RoR</a>(Ruby on Rails).
		This is the sample application built from that tutorial.
		It is a simple app that exemplifies the utility of RoR 5 for building and implementing Web applications. Though the app may not be wholly pragmatic, it does serve as an easy way to learn RoR via doing rather than just reading. If you have any inclination to learn RoR I suggest you check out Micheal Hartl's online version <a href="http://railstutorial.org/book">book</a> as mentioned above. A hard copy is also available <a href="https://www.amazon.com/Ruby-Rails-Tutorial-Addison-Wesley-Professional/dp/0134598628/ref=sr_1_1?s=books&ie=UTF8&qid=1483557818&sr=1-1&keywords=ruby+on+rails+tutorial">here</a>.
	</p>
  </body>
</html>
