<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
  you can also view the source code at <a href="https://bitbucket.org/railstutorial/sample_app_4th_ed">BitBucket Sample App</a> 
</p>