<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample Page</title>
  </head>
 <body>

	<h1>Sample App</h1>
	<p>
		This is the home page for this sample applicatoin I am creating.
		Which comes from the <a href="http://railstutorial.org">Rails Tutorial Book</a> created by M. Hartl.
	</p>
  </body>
</html>
